[Unit]
Description=Glorytun mud tunnel

[Service]
Type=simple
EnvironmentFile=/etc/glorytun/env
ExecStart=/usr/sbin/glorytun.sh

[Install]
WantedBy=multi-user.target
